h1 {
	font-family: helvetica;
	text-align: center;
	padding-top: 35px;
	padding-bottom: 35px;
	background-color: ##39b500;
}

body {
	background-color: #78FC3A;
}

div {
	font-family: helvetica;
	margin-left: 400px;
	font-size: 16px;
	margin-top: 15px;
}

#click {
	margin-left: 400px;
	margin-top: 25px;
}

.color {
	margin-left: 500px;
}

.showcase:hover {
	font-weight: bold;
}