body {
	background-color:#7eecfc;
	font-family:georgia;
}

h1 {
	font-size:3em;
	text-align:center;
}

h2 {
	font-size:1.25em;
	text-align:center;
}

header {
	background-color:#4fa6b3;
	padding:10px;
}

div.container {
	width:80%;
	height:auto;
	margin:auto;
}

div.nav {
	margin:5px;
	padding:5px;
	border: 1.5px solid #083840;
	border-radius:5px;
	float: right;
	width: auto;
	height:auto;
	background-color:#d7dbdb;
}

div.gallery {
  margin: 10px;
  border: 1.5px solid #083840;
  border-radius:5px;
  float: left;
  width: 180px;
  background-color:#d7dbdb;
}

div.gallery img {
  width: 100%;
  height: auto;
  padding:2px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

div.price {
	float:right;
	margin-right:5px;
	background-color:#c0c4c4;
}

button:hover {
	background-color:#0295ab;
}

button {
	background-color:#02d3f2;
}