body {
	background-color:#7eecfc;
	font-family:georgia;
}

h1 {
	font-size:3em;
	text-align:center;
}

h2 {
	font-size:2em;
	text-align:center;
}

header {
	background-color:#4fa6b3;
	padding:10px;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 95%;
  height: auto;
  margin:auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

button:hover {
	background-color:#0295ab;
}

button {
	background-color:#02d3f2;
}