body {
	background-color:#d1edce;
	font-family:verdana;
	padding-bottom:50px;
}

#phpMess {
	font-size:.75em;
	/*text-align:right;*/
}

h1 {
	font-size:3em;
	text-align:center;
	text-decoration:underline;
	text-shadow:2px 2px white;
}

#subtitle {
	font-size:.85em;
	text-align:center;
	color:#465e44;
}

p {
	font-size: 1em;
	/*float:right;*/
}

#big_a {
	font-family:console;
	font-size:6em;
	margin: 10px 10px 10px 10px;
	/*float:left;*/
}

h3 {
	font-size:2.5em;
	font-weight:bolder;
}
.info {
	background-color:#45c73a;
	border:3px solid #153612;
	border-radius:5px; 
	margin-top:25px;
	height:450px;
}

#roguelike {
	margin-left:100px;
}

#adom { 
	margin-right:100px;
}

h3.info {
	padding: 5px 5px 5px 5px;
	background-color:#1cba0f;
}

#adomPic {
	/* float:left;	 */
	margin-top:10px;
	margin-right:10px;
	width:300px;
	height:200px;
}

ul {
	margin-left:400px;
	font-size:1.5em;
}

#version {
	font-size: .8em;
	margin-top:10px;
	margin-bottom:10px;
}